.features {
	&__title {
		display: none;
	}

	&__icon {
		height: 120px;
		background: var(--secondary-white);
		border-radius: 4px;
		justify-content: center;
		align-items: center;
		margin-bottom: 30px;
		display: flex;

		@media screen and (min-width: 480px) {
			width: 100%;
			display: flex;
		}
	}

	&__list {
		@media screen and (min-width: 768px) {
			display: flex;
			flex-wrap: wrap;
			margin: -15px;
		}

		@media screen and (min-width: 1200px) {
			display: flex;
			flex-wrap: nowrap;
			margin: -15px;
		}
	}

	&__item {
		@media screen and (max-width: 480px) {
			margin-bottom: 30px;
		}

		@media screen and (min-width: 480px) {
			margin-bottom: 30px;
		}

		@media screen and (min-width: 768px) {
			width: calc((100% - 4 * 15px) / 2);
			margin: 15px;
		}

		@media screen and (min-width: 1200px) {
			width: calc((100% - 8 * 15px) / 4);
			margin: 15px;
		}
	}

	@media screen and (min-width: 1200px) {
		__item:nth-child(n + 2) {
			margin-left: 30px;
		}
	}

	&__subtitle {
		@include font(14px, 1.145, inherit);
		margin-bottom: 10px;

		@media screen and (max-width: 767px) {
			text-align: center;
			justify-items: center;
		}

		@media screen and (min-width: 768px) {
			text-align: left;
			justify-items: left;
		}
	}

	&__desc {
		line-height: 1.71;
		color: var(--main-grey);

		@media screen and (min-width: 480px) {
			width: 100%;
		}
	}
}
