.hero {
	text-align: center;
	padding: 200px 0;
	background: #2f303a;
	background-image: linear-gradient(
			to right,
			rgba(47, 48, 58, 0.4),
			rgba(47, 48, 58, 0.4)
		),
		url(../images/hero-image.jpg);
	background-repeat: no-repeat;
	background-position: center;
	max-width: 1600px;
	margin: 0 auto;

	&__headline {
		text-transform: uppercase;
		font-size: 44px;
		line-height: 1.36;
		color: var(--main-white);
		font-weight: 900;
		letter-spacing: 0.06em;
		text-align: center;
		width: 696px;
		margin: 0 auto;
	}

	&__btn {
		@extend %btn;
		margin-top: 30px;
		padding: 10px 32px;
	}
}
