body {
	font-family: Roboto;
	font-size: 14px;
	letter-spacing: 0.03em;
	color: var(--main-black);
	background: var(--main-white);
}

.container {
	width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}
