body {
	font-family: Roboto;
	font-size: 14px;
	letter-spacing: 0.03em;
	color: var(--main-black);
	background: var(--main-white);
}

.container {
	padding: 0 15px;
	margin: 0 auto;

	// phone screen

	@media screen and (min-width: 480px) {
		width: 480px;
		align-items: center;
	}

	// tablet screen

	@media screen and (min-width: 768px) {
		width: 768px;
	}

	// desktop screen

	@media screen and (min-width: 1200px) {
		width: 1200px;
	}
}
