@mixin transition($property...) {
	transition-property: $property;
	transition-duration: var(--common-anim-time);
	transition-timing-function: var(--common-cubic-bezier);
}
@mixin font($fs, $lh, $ls) {
	font-size: $fs;
	line-height: $lh;
	letter-spacing: $ls;
}
